
@{
    ViewBag.Title = "Giới thiệu";
}

<div class="top-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="title-aboutus">
                    <h3><span>who’s</span></h3>
                    <h2>The Shoes</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row margin-b-10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="wpb_wrapper margin-b-15">
                            <h3>Trụ sở Hà Nội</h3>
                            <p>Ngõ 1, Bùi Xương Trạch, Khương Đình, Thanh Xuân, Hà Nội</p>
                        </div>
                    </div>
                    @*<div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="wpb_wrapper margin-b-15">
                                <h3>Chi nhánh TP.HCM</h3><p>270 Cao Thắng (nối dài), Phường 12, Quận 10, TP.Hồ Chí Minh</p>
                            </div>
                        </div>*@
                </div>
                <div class="wpb_wrapper margin-b-15">
                    <p>The Shoes ra đời với mong muốn mang đến những mẫu Giày thể thao nam nữ mới nhất và thời trang nhất luôn được Shop cập nhật liên tục. Với giá cả cạnh tranh nhất và chất lượng tốt nhất Shop luôn luôn đem đến sự hài lòng cho những khách hàng thân thương của mình.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-aboutus">
    <div class="container">
        <h2><strong>Thành viên của chúng tôi</strong></h2>
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center">
                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                <img src="~/Images/About/custom-about3.jpg" />
                            </div>
                        </figure>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h4><strong>JOHNY BRAVISSIMO</strong></h4>
                            <h5><strong>Nhân Viên</strong></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center">
                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                <img src="~/Images/About/custom-about4.jpg" />
                            </div>
                        </figure>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h4><strong>JOHNY BRAVISSIMO</strong></h4>
                            <h5><strong>Quản Lý</strong></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center">
                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                <img src="~/Images/About/custom-about2.jpg" />
                            </div>
                        </figure>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h4><strong>JOHNY BRAVISSIMO</strong></h4>
                            <h5><strong>Nhân Viên</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>